# Escucha en el puerto 80 internamente.
# Al no especificar un dominio aquí, Caddy no intentará gestionar HTTPS.
:80 {
		# Opcional: añade logs para ver las peticiones, muy útil para depurar.
		log

		# Las mismas reglas de redirección que ya tenías
		reverse_proxy /api* {$APPFLOWY_CLOUD_HOST}:{$APPFLOWY_CLOUD_PORT}
		reverse_proxy /gotrue* {$GOTRUE_HOST}:{$GOTRUE_PORT}
		reverse_proxy /minio* {$MINIO_HOST}:{$MINIO_API_PORT}
}